<ul>
    <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Home</li>
    <li routerLink="/about" routerLinkActive="active"  >About</li>
    <li routerLink="/about/team" routerLinkActive="active"  >Team</li>

    <li routerLink="/services" routerLinkActive="active"  >Services</li>
    <li routerLink="/services/seo" routerLinkActive="active"  >SEO</li>
    <li routerLink="/services/ppc" routerLinkActive="active"  >PPC</li>
    <li routerLink="/animation" routerLinkActive="active"  >Animation</li>
    <li routerLink="/pipe" routerLinkActive="active"  >Pipe</li>
</ul>
 <router-outlet></router-outlet>
 

  
  
