 <h1>{{ name }}</h1>
<h1>{{ name | uppercase }}</h1>
<h1>{{ name | lowercase }}</h1>
<h1>{{ name |  slice:'1':'5'}}</h1>

<h1>{{ 7.4567 }}</h1>
<h1>{{ 7.4567 | number:'1.2-3' }}</h1>
<h1>{{ 7.4567 | number:'2.2-3' }}</h1>

<h1>{{ 20.6956 | number:'2.2-2' |  currency:"INR"  }}</h1>

<h1>{{ mydate }}</h1>
<h1>{{ mydate | date:'fullDate' }}</h1>
<h1>{{ mydate | date:'shortDate' }}</h1>
<h1>{{ mydate | date:'y-M-d' }}</h1>
<h1>{{ mydate | date:'mediumTime' }}</h1>
<h1>{{ mydate | date:'shortTime' }}</h1>


<h1>{{100  | squareRoot}}</h1>
 
<h1>{{ 2  | multiply: 10 : 5  }}</h1>

