/* You can add global styles to this file, and also import other style files */
@import "themes.scss";
* { box-sizing: border-box }
body, html { height: 100%; padding: 0; margin: 0; font-family: 'Roboto', sans-serif;}
mat-sidenav-content, mat-sidenav-container { height: 100%; }