
<div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-around" fxLayoutGap="30px" [ngStyle]="{  'background': 'black', 'padding': '20px' }"  >
<div fxFlex="20" [ngStyle]="{'background': 'red'}">
    Test
</div>
<div fxFlex="20" [ngStyle]="{'background': 'blue'}" >
    Test2
    <br>
    Test2
    <br>
    Test2
</div>
<div fxFlex="20" [ngStyle]="{'background': 'yellow'}" >
    Test2
</div>

</div>

<div fxLayout="column" >
    <div fxFlex [ngStyle]="{'background': 'red'}">
        Test
    </div>
    <div fxFlex [ngStyle]="{'background': 'blue'}" >
        Test2
    </div>
    <div fxFlex [ngStyle]="{'background': 'yellow'}" >
        Test2
    </div>  
</div>

